* {
    font-family: Arial;
}

body
{
    background-color: grey;
    color: white;
}

h1
{
    color: black;
    text-align: left;
    font-size: 150%;
}

.logo{
    font-family: "Arial Black";
    font-size: 75px;
    text-align: center;
    margin: 0;
    text-decoration: none;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: grey;
    text-align: justify;
    padding: 14px 32px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #1D2A38;
    color: white;
}

.topnav a.active {
    background-color: slategrey;
    color: white;
}

a:link
{
    color: white;
    text-decoration: underline;
}

a:visited
{
    color: white;
    text-decoration: underline;
}

a:hover
{
    color: black;
    text-decoration: underline;
}

a:active
{
    color: blue;
    text-decoration: underline;
}

.topnav-right {
    float: right;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
}

.side-by-side
{
    float: left;
    padding:0px 20px;
    background-color: DimGrey;
    border-width:2px;
    border-style:solid;
    border-color:black
}


form {
    border-collapse: collapse;
    width: 100%;
}

table {
    width: 100%;
    table-layout:fixed;
}

td {
    text-align: left;
    padding: 8px;
}

th{
    text-align: left;
    font-size: 20px;
    padding: 8px;
}

tr:hover{
background-color: #1D2A38;
}

.hiddenRow{
    visibility:collapse;
}

.loginFields {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #1D2A38;
}

.bioParagraph{
    margin-top: 0;
}

.intro{
    margin-top: 0;
    text-align: center;
}



